<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/src/php/registro.php">
    <title>Login</title>
</head>

<body>



    <div class="container">
        <div class="login_container">
            <div class="login_titulo">
                <span>Registrar</span>
            </div>

            <div class="input_wrapper">
                <input type="text" id="email" class="input_field" required>
                <label for="usuario" class="label">Correo electronico</label>
            </div>

            <div class="input_wrapper">
                <input type="text" id="usuario" class="input_field" required>
                <label for="usuario" class="label">Usuario</label>
                <i class="fa-regular fa-user icon"></i>
            </div>

            <div class="input_wrapper">
                <input type="password" id="password" class="input_field" required>
                <label for="pass" class="label">Contraseña</label>
                <i class="fa-solid fa-lock icon"></i>
            </div>

            <div class="remember-forgot">
                <div class="remeber-me">
                    <input type="checkbox" id="remember">
                    <label for="remember">Recordar contraseña</label>
                </div>

                <div class="forgot">
                    <a href="#"></a>
                </div>

            </div>

            <div class="input_wrapper">
                <input type="submit" class="input-sumit" value="Registrarse">
            </div>

            <div class="signup">
                <span> <a href="index.html"> Inicio</a></span>
            </div>

        </div>
    </div>



</body>

</html>