<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h2>REgistro de nuevo usuario</h2>
    <form action="" method="post">
        email:
        <input type="text" name="email" id="email"><br><br>
        usuario:
        <input type="text" name="usuario" id="usuario"><br><br>
        contrasenia:
        <input type="password" name="pass" id="pass"> <br><br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>